

.gallery{
display: flex;
max-width: 1128px;
margin: 100px auto;
flex-wrap: wrap;
gap:24px;
padding: 0;

}
.gallery-item{
 
   transition: scale 500ms cubic-bezier(0.4, 0, 0.2, 1);

}
.gallery-item:hover,.gallery-item:focus {
    scale: 1.05;


}
.gallery-image{width: 360px;height: 200px;
}