h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
   transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
a.back-link:hover, a.back-link:focus {  background-color: orange;
  color: aliceblue;
  scale: 110%;
}



button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
